*{
    margin: 0;
    padding: 0;
}

body{
     
    background-color: black;
    font-family: 'Montserrat', sans-serif;
}

.container{
    width: 100%;
}

.content1{
    width: 100%;
}


.page1{
    display: flex;
    justify-content: center;
}

.net-img{
    height: 44rem;
    width: 100%;
    overflow: hidden;  
}

.img-style {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
}

header{
    width: 100%;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: space-between; 
    padding: 1.5rem 2rem;
    box-sizing : border-box;
    color: white;
    z-index: 1;
    margin-left: 8rem;
    margin-right: 8rem;
}

header img{
    height: 2.75rem;
}

header a{
    height: 2rem;
    width: 4.75rem;
    background: red;
    border-radius:0.2rem ;
    font-family: inherit;
    font-weight:300;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    line-height: 1;
}

header a:hover {
    background-color:rgb(215, 4, 4);
}

.text-content{
   
    color: white;
    z-index: 1;
    text-align: center;
    align-items: center;
    position: absolute;
    bottom: 0;
    top: 100px;
    display: flex;
    justify-content:center;
    margin: auto;
    flex-direction: column;
}

.text-content h1{
    font-size: 3rem;
    font-weight: 900;
    margin: 0px ;
    width: 80%;
}

.text-content p{
    font-size : 1.5rem;
    margin: 1rem 0 0;
}

.text-content h3{
    font-size: 1.25rem;
    font-weight: 400;
    margin-top: 1.5rem;
}

.text-content div {
    margin-top: 1rem;
}

.text-content input {
    color: inherit;
    background-color: rgb(32, 32, 32);
    height: 3rem;
    width: 22rem;
    padding-left: 1rem;
    font-family: inherit;
    font-weight: 400;
    border: 1px solid white;
    border-radius: 0.3rem;
}

.text-content a{
    margin-left: 0.5rem;
    height:100%;
    width:7rem;
    background-color: red;
    color: white;
    font-weight: 600;
    font-size: 1.5rem;
    border-radius: 0.2rem;
    padding: 0.60rem;
    position: relative;
    top: 2px;
    cursor: pointer;
    
}

.line{
    width: 100%;
    height: 0.5rem;
    background-color: #727272   ;
}

/* page2 */

.page2{
    height: 36rem;
    width: 85%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    color: white;
}

.content2{
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}

.content2 h1{
    font-size: 3rem;
    font-weight: 900;
}

.content2 p{
    font-size : 1.5rem;
    margin: 1rem 0 0;
}

.page2 img {
    z-index: 1;
}

.page2 video {
    position: absolute;
    right: 12rem; 
    max-height:74% ;
    max-width:73% ;
    
}

.page3{
    height: 36rem;
    width: 85%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
}

.page4{
    height: 36rem;
    width: 85%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
}

.page4 img{
    z-index: 1;
}

.page4 video{
    position: absolute; 
    right: -4rem;
    max-width: calc(100%-3rem);
    box-sizing: border-box;
}

.p4-video {
    overflow: hidden;
    position: absolute;
    right: 14rem; 
    top: 123rem;
    height: 100%;
    width: 100%;
    overflow: hidden;
    max-width: 64%;
    max-height: 47%;
    
}

.page5{
    height: 36rem;
    width: 85%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
}

.page6{
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    flex-direction: column;
    padding: 4.5rem;
    width: 80%;
}

.page6 h1{
    font-size: 3rem;
    font-weight: 900;
    margin-bottom: 1rem;
}

.btn{
    padding: 1.5rem;
    width: 100%;
    margin: 0.3rem;
    background-color: #232323;
    border: none;
    color: white;
    font-weight: 400;
    font-size:1.5rem ;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.page6 i{
    font-size: 2rem;
    font-weight: 100;
}

.last{
    position: absolute;
    bottom: 0;
    top: 238rem;
    
}

.last-line{
    margin-top:9rem ;
}